<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled JavaScript -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <title>Document</title>
</head>
<body>
    <div class="container-fluid header h5 border">
        <span>서비스 소개</span>
        <span>학교 조회</span>
        <span>학교 매칭</span>
    </div>


</body>
</html>